@CHARSET "UTF-8";


#divGeneral {
}

a:link, a:visited {
	text-decoration: none;
	color: #c9aa79;
}

a:hover {
	color : white;
}	

#recherche {
	display: block;
	margin: 15px;
	padding: 5px;
}

#selections {
	display: inline-block;
	border: 5px double #79453a;	
	margin: 5px;
	margin-bottom: 25px;
	padding: 5px;
}


#selections div{
	
	display:block;
	height: 50px;
}

#selections select{
	width: 200px;
}


#selections div>* {
	display:inline;
}

#selections label{
	display:	inline-block;	
	width: 		300px;
	font-size: 	20px;
}

#resume {
	
	display: 	flex;
}

#identRace {
	display: 		inline;
	margin-bottom : 25px;
	width:			500px;
}

#identRace label {
	display:	inline-block;
	width: 		100px;
	font-size: 	20px;
}

#identRace input {
	width : 	200px;
	margin-right: 50px;
}

#bonus {	
	display:		block;
	height:			200px;
	overflow:		auto;
	font-size: 		20px;	
	margin-top : 	25px;
	border :		5px double #79453a;	
}


#tableBonus, #tableRaces {
	border : 1px solid #79453a;
	border-collapse: collapse;
	margin : 20px;
	font-size: 	20px;
}

th, td {
	border : 1px solid #79453a;
	border-collapse: collapse;
	text-align: center;
}

.thNom {
	width :		400px;	
}

.thVal, .thXp {
	width :		50px;
}

.thAcad {
	width :		25px;
}

input#idRace, input#xpRendue {
	display:	inline-block;
	width: 		25px;
	background-color: gray;
	margin-right: 25px;
	
}

#message {
	font-size: 20px;
}