

body 
{ 
  margin:0;
  padding:0;
  background: url(http://img11.hostingpics.net/pics/234154arathielfondsite.jpg) no-repeat center fixed; 
  background-position:center center;
  color: #c9aa79;
}

h1
{
        font-weight : bold; /* on met le texte en gras */
        font-family : Lucida, sans-serif; /* on utilise Arial, c'est plus beau ^^ */
        font-size : 25px; /* hauteur du texte : 12 pixels */
        color : #79453a;
}


/*******************************************************Corps page******************************************************/\



/*******************************************************Corps img******************************************************/\









