.connexion{
	
	display: block;
	margin-left: 35%;
    margin-right: 50%;
    margin-top: 150px;
	width: 500px;
	height: 250px;
	padding: 15px;
	background-color: rgba(255,255,255,0.6);
	border-width:1px;
	border-color: black;
	border-style: solid;
	color : black;
}


.bouton{
	position: center;
	display: block;
	left: 365px;
	width: 85px;
}

#password{
	
	position: relative;
	left: 42px;
}

#login{
	
	position: relative;
	left: 15px;
}